body{
    background-color: rgb(129, 129, 244);
    font: normal 15pt Arial;
    display:flex;
    justify-content: center;
}

.container{
    background: white;
    border-style: solid;
    width: 500px;
   

}

#topo{
    background-color: gray;
    border-style: solid;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.meio{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#caixa_inserir{
    background-color: gray;
    padding: 10px;
    border-style: solid;
    display:flex;
    
    
}

#caixa_inserir button{
    width: 70px;
    height: 35px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}
#caixa_inserir button:hover{
    background-color: rgb(0, 177, 177);
}

/******** CAIXA DE MENSAGEM *******/

.caixa_mensagem p{
    border: solid;
    width: 400px;
    padding:5px;
    margin: 5px 0 0 0;
}

.caixa_mensagem div{ /* botoes */
    display: flex;
    justify-content: end;
    align-items: flex-start;
    padding: 0 0 3px 0;
}

#b_editar{
    background-color: orange;
    cursor: pointer;
}
#b_editar:hover{
    background-color: rgb(193, 125, 0);
}

#b_excluir{
    background-color: red;
    cursor: pointer;
}
#b_excluir:hover{
    background-color: rgb(192, 0, 0);
}